:root {
  --social-icon-size: 40px;
  --title-font-size: 5rem;
  --avatar-size: 200px;
  --app-section-padding: 5rem 10rem;
}
@media screen and (max-width: 600px) {
  :root {
    --social-icon-size: 30px;
    --title-font-size: 4rem;
    --avatar-size: 150px;
    --app-section-padding: 1rem;
  }
}

::-webkit-scrollbar {
  width: 10px
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px 1px rgb(255 255 255 / 0%)
}
::-webkit-scrollbar-thumb,::-webkit-scrollbar-track {
  border: 3px solid transparent;
  border-top: 0;
  border-bottom: 0;
  border-radius: 4px
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 3px 3px rgb(150 150 150)
}

body {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  background-color: #141821;
  color: #fff;
}
a {
  color: unset;
}

.app-section {
  box-sizing: border-box;
  margin: 0;
  padding: var(--app-section-padding);
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
}
.app-section__title {
  height: 100vh;
  text-align: center;
}
.app-section__title .app-text-box {
  width: fit-content;
}
.app-section__title .page-avatar {
  height: var(--avatar-size);
  width: var(--avatar-size);
  border-radius: calc(var(--avatar-size) / 2);
}
.app-section__title .page-title {
  margin: 15px 0;
  font-size: var(--title-font-size);
  display: flex;
  flex-direction: column;
}
.app-section__title .page-title .page-title__hello {
  font-size: 0.7em;
  font-weight: 700;
}
.app-section__title .page-title .page-title__fullname {
  font-weight: bold;
  padding: 12px 0;
}
.app-section__title .page-subtitle {
  margin: 0;
  font-size: 0.5em;
  font-weight: 600;
}
.app-section__contact {
  height: 50vh;
}

.app-text-box {
  width: min(1200px, 100%);
  z-index: 10;
}

.app-text-box h2 {
  font-size: 3.5rem;
}
.app-text-box h3 {
  font-size: 2rem;
}

.app-brands-cnt {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}
.app-brands-cnt svg {
  height: 50px;
  width: 50px;
  margin: 15px;
  fill: currentColor;
}

.app-skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.app-skill {
  flex: 1 0 30%;
  margin: 15px;
  min-height: 300px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.app-skill h3 {
  text-transform: uppercase;
}
.color1 {
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
  position: relative;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 2rem;
  color: var(--theme-ui-colors-white,#fff);
  background: linear-gradient(to right, rgb(102, 45, 140) 0%, rgb(237, 30, 121) 100%);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
}
.color2 {
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
  position: relative;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 2rem;
  color: var(--theme-ui-colors-white,#fff);
  background: linear-gradient(to right, rgb(212, 20, 90) 0%, rgb(251, 176, 59) 100%);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
}
.color3 {
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
  position: relative;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 2rem;
  color: var(--theme-ui-colors-white,#fff);
  background: linear-gradient(to right, rgb(0, 146, 69) 0%, rgb(252, 238, 33) 100%);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
}
.color4 {
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
  position: relative;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 2rem;
  color: var(--theme-ui-colors-white,#fff);
  background: linear-gradient(to right, rgb(213, 133, 255) 0%, rgb(0, 255, 238) 100%);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
}

.social-links {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 100;
}
.social-links a {
  height: var(--social-icon-size);
  width: var(--social-icon-size);
  margin-left: 8px;
  display: inline-block;
}
.social-links svg {
  height: var(--social-icon-size);
  width: var(--social-icon-size);
  fill: currentColor;
}
